#!/bin/sh

SYBASE={{sap_ase_bin}}
SERVER={{sap_ase_server_name}}

# Source environment variables.
. $SYBASE/SYBASE.sh

# Find the name of the script
NAME=`basename $0`

# For SELinux we need to use 'runuser' not 'su'
if [ -x /sbin/runuser ]
then
        SU=runuser
else
        SU=su
fi
 
start() {
        SYBASE_START=$"Starting ${NAME} service: "
        $SU sap -c ". $SYBASE/SYBASE.sh; $SYBASE/$SYBASE_ASE/bin/startserver \
-f $SYBASE/$SYBASE_ASE/install/RUN_${SERVER} > /dev/null"
        ret=$?
        if [ $ret -eq 0 ]
        then
                showserver | grep dataserver | awk '{ print $4 }' >{{sap_ase_bin}}/sybase.pid
                echo "$SYBASE_START Success."
        else
                echo "$SYBASE_START Failed!"
              exit 1
        fi
}

stop() {
        echo -n $"Stopping ${NAME} service: "

 #password needs to be given in clear text:
        #$SU sap -c ". $SYBASE/SYBASE.sh; isql -S $SERVER -U sa -P '{{sap_ase_password}}' < \
#$SYBASE/$SYBASE_ASE/upgrade/shutdown.sql > /dev/null"

 #kill the process
        pkill dataserver

        ret=$?
        if [ $ret -eq 0 ]
        then
                echo "Success."
        else
                echo "Failed!"
                exit 1
        fi
}


restart() {
        stop
        start
}


case "$1" in

        start)
                start
                ;;
        stop)
                stop
                ;;
        restart)
                restart
                ;;
        *)
                echo $"Usage: $0 {start|stop|restart}"
                exit 1
esac
exit 0
